<div class="row">
    <div class="col-md-12">
        <ul>
{{#each contents}}
            <li>{{name}}<br> 
                {{#if quantity}}
                <em>{{quantity}}</em>
                {{/if}}
                {{#if description}}
                <em>{{description}}</em>
                {{/if}}</li>
{{/each}}
        </ul>
        <a href='/{{name}}/edit'><button>Edit item</button></a>
    </div>
</div>
