{{> homeLink}}
{{> title}}
<div class="row">
    <div class="col-md-12">
        <h1>Edit {{name}} contents</h1>
        <ul>
            {{#each contents}}
            <li><a href="./{{id}}">{{name}}</a></li>
            {{/each}}
        </ul>
    </div>
</div>

