<div class="row">
    <div class="col-md-6 text-center
    align-middle">
        <h1 class = "display-1">A collection of Lists</h1>
    </div>
    <div class="col-md-6 text-center">
        <img src="/images/list.jpg" alt="A written list in a notepad" class= "img-thumbnail header-image rounded">
    </div>
</div>
{{#if list}}
<div class="row">
    <div class="col-md-12">
        {{#each list}}
        <ul>
            <li>{{this.name}}</li>
        </ul>
        {{/each}}
    </div>
</div>
{{/if}}
